*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "gilroy";
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #151515;
    overflow: hidden;
}
#bg{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#nav{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    height: 80px;
    padding: 20px 50px;
    color: #fff;
}
#nav>a{
    padding-left: 50px;
    font-size: 11px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
}
#nav>a>i{
    font-size: 30px;
}
#text{
    position: absolute;
    right: 0;
    top: 50%;
    width: 58%;
    height: 40%;
    transform: translate(0,-50%);
    animation: in 2s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}
#text>h1{
    font-size: 330px;
    font-family: "poppins";
    color: #fff;
    letter-spacing: 10px;
    line-height: 250px;
}
#text>h4{
    font-size: 20px;
    margin-left: 95px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 10px;
    font-weight: 500;
    font-family: "poppins";
}
#focus{
    position: absolute;
    width: 400px;
    left: 0;
    bottom: 2%;
    height: 100px;
}
#date{
    position: absolute;
    top: 30px;
    transform: rotate(-90deg);
}
#date>h2{
    font-size: 13px;
    color: #fff;
    letter-spacing: 5px;
}
#show{
    margin-left: 60px;
    color: #fff;
    animation: kn 3s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}
#show>h2{
    font-family: "poppins";
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
#show>h2>i{
    padding-left: 10px;
    font-size: 30px;
    color: #0ca0dc;
}
#show>p{
    font-size: 12px;
    margin-top: 7px;
    letter-spacing: 0.7px;
    opacity: 0.7;
    line-height: 20px;
}
#arrow{
    position: absolute;
    left: 30px;
    top:30%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#arrow>i{
    font-size: 10px;
    padding-top: 25px;
}
#arrow>#ar{
    font-size: 20px;
}
#media{
    position: absolute;
    right: 0;
    bottom: 3%;
    color: white;
}
#media>i{
    font-size: 25px;
    padding-right:60px ;
}
#top{
    height: 30%;
    display: flex;
    align-items: flex-start;
    padding: 0px 50px;
}
#topel1{
    height: 200px;
    width: 200px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
    margin: 0 -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
}
#img1{
    width: 100%;
    transform: rotate(180deg);
    
}
#img2{
    width: 100%;
    
}
#img8{
    height: 100%;
}
#img4{
    width: 100%;
    
}
#img6{
    height: 100%;
    transform: rotate(180deg);
}
#img5{
    height: 100%;
    transform: rotate(180deg);
    
}
#img7{
    width: 100%;
    transform: rotate(180deg);
}
#topel2{
    height: 200px;
        width: 200px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        margin: 0 -25px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0s both;
}
#topel3{
    height: 200px;
        width: 200px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        transform: rotate(180deg);
        margin: 0 -25px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
}
#topel4{
height: 200px;
    width: 200px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin: 0 -25px;
    margin-top: 25px;
        display: flex;
    align-items: flex-start;
    justify-content: center;
    animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0s both;
}
#topel5{
height: 200px;
    width: 200px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
    margin: 0 -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
}
#middle{
    height: 30%;
    display: flex;
    padding: 0px 200px;
}
#middleel1{
    height: 200px;
        width: 200px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        margin: 0 -25px;
        transform: rotate(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
        animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0s both;
}
#middleel2{
    height: 200px;
        width: 200px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        margin: 0 -25px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
}
#middleel3{
height: 200px;
    width: 200px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin: 0 -25px;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0s both;
}
#bottom{
    height: 30%;
    padding: 0 350px;
    display: flex;
}

#bottomel1 {
    height: 200px;
    width: 200px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #fff;
    margin: 0 -25px;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
}
#bottomel2 {
height: 200px;
    width: 200px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #fff;
    margin: 0 -25px;
margin-top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0s both;
}
#bottomel3 {
height: 200px;
    width: 200px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin: 0 -25px;
    transform: rotate(180deg);
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s both;
}
#bottomel4 {
    height: 200px;
        width: 200px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background-color: #fff;
        margin: 0 -25px;
        margin-top: 25px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        animation: opaque 1s cubic-bezier(0.19, 1, 0.22, 1) 0s both;
}


@keyframes opaque {
    from{
    clip-path: polygon(0% 0%, 0% 0, 100% 100%);
    }
    to{
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
}

@keyframes in {
    from{
        right: -60%;
    }
    to{
        right: 0;
    }
}
@keyframes kn {
    from{
        opacity:0;
    }
    to{
        opacity:1 ;
    }
}